<p id="notice"><%= notice %></p>

<h1>Reviews</h1>
<%= link_to 'Write a review', new_review_path %>
<table>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <div>
            <h3><%= review.title %></h3>
            <p><%= review.caption %></p>
            <div style="width:400px; height:auto">
              <%= image_tag(review.image, style:'width:100%') %>
            </div>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

