<!DOCTYPE html>
<html>
<head>
  <title>Hoagie on Rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <header class="">
    <%= link_to "hoagie 2 go", '#', id: "logo" %>
  </header>
</div>
<div class="container-fluid">
  <ul class="navbar navbar-default navbar-inverse ">
    <nav>
      <%= link_to 'Items', items_url %>
      <%= link_to 'Ingredients', ingredients_url %>
      <%= link_to 'Orders', orders_url %>
      <%= link_to 'Customers', customers_url %>
      <%= link_to 'Reviews', reviews_url %>
    </nav>
  </ul>
  <%= yield %>
</div>
</body>
</html>
